﻿body {
    font-family: "Segoe UI","Segoe","Segoe WP","Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: #ffffff;
    font-size: 18px;
}

h2 {
    color: #00224f;
    margin: 24px 0;
    width: 100%;
    text-align: center;
    font-size: 1.8em;
}

.block-container {
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
    .block-container h4 {
        margin: 6px 0 6px 0;
    }
    .block-container p {
        margin: 0 0 6px 0;
        line-height:1.2em;
    }

.block-image {
    display: block;
    background-clip: border-box;
    background-position-x: 50%;
    background-position-y: 30%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%; /*height: 80%;*/
    border: 1px solid #ccc;
}

.block-date {
    color: #fff;
    background-color: #000;
    font-size: 13px;
    padding: 6px 16px;
    position: absolute;
    top: 50%;
    left: 25px;
    min-width: 30px;
    z-index: 99;
}

.blogblock, .blogdoc { 
    padding: 40px 40px 20px 40px;
    border-right: 1px solid #ccc;
    border-top: 1px solid #ccc;
    overflow: hidden;
}

    .blogblock:hover, .blogdoc:hover {
        cursor: pointer;
        background: #ffffff;
        -webkit-transition: background 0.75s;
        -moz-transition: background 0.75s;
        -o-transition: background 0.75s;
        transition: background 0.75s;
    }
    .blogblock ul {
        margin-left: 12px;
    }
    .blogblock li {
        margin-bottom: 4px;
    }
    .blogblock a {
        color: #00224f;
        font-size: 1.2em;
    }
        .blogblock a:hover {
            color: #660000;
        }

.clickicon {
    background-color: transparent;
    position: absolute;
    right: 4px;
    bottom: 4px;
    width: 30px;
    border: none;
    z-index: 99;
}

/* Media Queries */
@media (max-width:768px) {
    .blogblock, .blogdoc {
        height: auto;
    }
}

@media (min-width:768px) and (max-width:991px) {
    .blogblock, .blogdoc {
        height: auto;
    }
}

@media (min-width:992px) and (max-width:1199px) {
    .blogblock, .blogdoc {
        height: 300px;
    }
}

@media (min-width:1200px) {
    .blogblock, .blogdoc {
        height: 340px;
    }
}

@media (min-width: 1600px) {
    .blogblock, .blogdoc {
        height: 400px;
    }

    .container {
        width: 1560px;
    }

    .bibleselectmini {
        max-width: 220px;
    }
}

@media (max-width:1599px) {
    .blogblock a {
        font-size: 1.0em;
    }

    .blogblock ul {
        margin-left: 1px;
    }

    .blogoverflow {
        overflow-y: scroll;
    }
}
