﻿body {
    background-color: #0e0e0e;
    margin: 0;
    padding: 0;
}

.btnclose {
    position: absolute;
    top: 12px;
    right: 12px;
    font-size: 24px;
    padding: 4px 8px 2px 8px;
    background-color: #93030e;
    color: #efefef;
    border: none;
    border-radius: 3px;
    z-index: 9;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.ftimgdiv, .btndiv {
    margin: 0;
    padding: 0;
    width: 100%;
}

img.ftimg {
    position: absolute;
    max-width: 80%;
    top: 10%;
    left: 10%;
}

    img.ftimg:empty {
        position: absolute;
        z-index: 1;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

@media screen and (orientation: portrait) {
    img.ftimg {
        max-width: 92%;
    }
}

@media screen and (orientation: landscape) {
    img.ftimg {
        max-height: 92%;
    }
}
